.reveal {
    color: #b6caca;
}

.reveal section img {
    box-shadow: none;
    border: none;
    background: inherit;
}

.reveal section img.border {
    border: 4px solid #fff;
}

.reveal section a:hover,
.reveal section a:hover img {
    background: inherit;
    box-shadow: none;
}

.reveal small {
    vertical-align: inherit;
    font-size: 0.8em;
}

.reveal pre code {
    padding: 1rem;
    background-color: #111;
    border: 1px solid #ccc;
    line-height: 1.5;
}

.compact-code + pre {
    font-size: 1.1rem !important;
}

.compact-code-2 + pre {
    font-size: 1rem !important;
}

.compact-code-3 + pre {
    font-size: 0.9rem !important;
}

.compact-code-4 + pre {
    font-size: 0.8rem !important;
}

.reveal ul {
    list-style-type: none;
}

.reveal pre {
  border: none;
  background-color: black;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reveal code {
  color: #cce;
}

.reveal pre b {
  color: #eee;
  font-weight: 700;
}

.reveal code {
  color: #cce;
}

.reveal li {
  font-size: 110%;
}

.reveal li {
  line-height: 1.1;
  margin-bottom: 1.8rem;
}

.reveal h2 {
    line-height: 1.1;
}
